:root {
    --primary-color: #dbc39a;
    --gray-scale-900: #131313;
    --grat-scale-700: #ababab;
    --grat-scale-800: #434343;
}

.main .con-box {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
/* .main .con1 {
    position: relative;
} */
.main .con1 {
    width: 100%;

    box-sizing: border-box;
}
.main .con1 h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    margin-top: 93px;
    margin-bottom: 30px;
}
.main .con1 p {
    color: #ababab;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 130%;
}
.main .con1 p + a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
}
.main .con1 p + a:hover {
    color: var(--primary-color);
}
.main .con1 .am-list {
    margin-top: 92px;
    display: flex;
    position: relative;
}
.main .con1 .am-list li {
    flex: 1;
}

.main .con1 .am-list .bohan {
    background-image: url(../img/pic/bohan-2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 640px;
    height: 650px;
    transition: 0.6s;
}
.main .con1 .am-list .bohan:hover {
    background-image: url(../img/pic/bohan-1.png);
    flex: 2;
}
.main .con1 .am-list .bohan:hover::after {
    content: 'BOHAN PHOENIX';
    color: #fff;
    text-shadow: 0px 0px 7px #000;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 300px;
    transition: 0.6s;
}

.main .con1 .am-list .kelvin {
    background-image: url(../img/pic/kelvin-2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 640px;
    height: 650px;
    transition: 0.6s;
}
.main .con1 .am-list .kelvin:hover {
    background-image: url(../img/pic/kelvin-1.png);
    flex: 2;
}
.main .con1 .am-list .kelvin:hover::after {
    content: 'KELVIN KRASH';
    color: #fff;
    text-shadow: 0px 0px 7px #000;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    left: 800px;
}

.main .con1 .am-list .suki {
    background-image: url(../img/pic/suki-2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 640px;
    height: 650px;
    transition: 0.6s;
}
.main .con1 .am-list .suki:hover {
    background-image: url(../img/pic/suki-1.png);
    flex: 2;
}
.main .con1 .am-list .suki:hover::after {
    content: 'SUKI';
    color: #fff;
    text-shadow: 0px 0px 7px #000;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 300px;
    right: 400px;
}
/* con1 end */

.main .con2 {
    margin-top: 52px;
}
.main .con2 .inner {
    display: flex;
    width: 1600px;
    margin: auto;
}
.main .con2 .box-right {
    width: 1196px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.main .con2 .box-left {
    width: 385px;
    height: 100vh;
    margin-right: 16px;
}
.main .con2 .box-right .title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    width: 800px;
    position: absolute;
    top: 150px;
    left: 15%;
}
.main .con2 .box-right .title.title2 {
    top: 220px;
}
.main .con2 .box-right .txt {
    color: var(--grat-scale-700);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 620px;
    position: absolute;
    top: 330px;
    left: 22%;
}
.main .con2 .box-right .name {
    color: var(--grat-scale-700);
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    position: absolute;
    bottom: 30px;
    left: 500px;
}
.main .con2 .box-right .con2-pic {
    position: absolute;
    top: 450px;
    width: 1076px;
    height: 450px;
    left: 36px;
}

.main .con2 .box-left li {
    text-align: left;
    color: var(--grat-scale-800);
    font-size: 60px;
    font-weight: 300;
    transition: 0.3s;
    margin-bottom: 60px;
}
.main .con2 .box-left li:first-child {
    margin-top: 300px;
}
.main .con2 .box-left li.on {
    color: #fff;
}
/* con2 end */

.main .con3 {
    display: flex;
    margin-top: 50px;
}
.main .con3 .left-box {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.main .con3 .left-box img {
    opacity: 1;
    transition: 0.3s;
}
.main .con3 .left-box img.on {
    opacity: 0;
}
.main .con3 .left-box .shadow {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}
.main .con3 .left-box .shadow.on {
    opacity: 1;
}
.main .con3 .left-box video {
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.main .con3 .left-box video.on {
    opacity: 1;
}
.main .con3 .left-box .txt-box {
    opacity: 1;
    z-index: none;
    transition: 0.2s;
}
.main .con3 .left-box .txt-box.on {
    opacity: 0;
}
.main .con3 .left-box .txt-box .title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-right: 158px;
    position: absolute;
    bottom: 243px;
    left: 158px;
    z-index: 50;
}
.main .con3 .left-box .txt-box .name {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    bottom: 177px;
    left: 158px;
    z-index: 50;
}
.main .con3 .left-box .txt-box .txt {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    bottom: 109px;
    left: 158px;
    text-align: left;
    z-index: 50;
}

.main .con3 .right-box {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.main .con3 .right-box img {
    opacity: 1;
    transition: 0.3s;
}
.main .con3 .right-box img.on {
    opacity: 0;
}
.main .con3 .right-box .shadow {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}
.main .con3 .right-box .shadow.on {
    opacity: 1;
}
.main .con3 .right-box video {
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.main .con3 .right-box video.on {
    opacity: 1;
}
.main .con3 .right-box .txt-box {
    opacity: 1;
    z-index: none;
    transition: 0.2s;
}
.main .con3 .right-box .txt-box.on {
    opacity: 0;
}
.main .con3 .right-box .txt-box .title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    bottom: 243px;
    left: 70px;
    z-index: 50;
}
.main .con3 .right-box .txt-box .name {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    bottom: 177px;
    left: 70px;
    z-index: 50;
}
.main .con3 .right-box .txt-box .txt {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    bottom: 90px;
    left: 70px;
    text-align: left;
    z-index: 50;
}
/* con3 end */

.main .con4 {
    width: 100%;
    height: 100vh;
}
.main .con4 h2 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin-top: 170px;
    margin-bottom: 137px;
}
.main .con4 .swiper .swiper-slide {
    position: relative;
}
.main .con4 .swiper .swiper-slide .slide-title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    left: 73px;
    bottom: 99px;
}
.main .con4 .swiper .swiper-slide .slide-txt {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 73px;
    bottom: 56px;
}
